/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bg-color : #211D2A;
  --bg-color-elements : #16141D;
  --color-text : #E0E0E0;
  --icon-color : #E0E0E0;
  --violet: #7938CB;
  
}

body.light-theme {
  --bg-color : #E0E0E0;
  --color-text : #211D2A;
  --icon-color : #211D2A;
  --bg-color-elements : #C0C0C0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

// reset button
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

//reset blue outline
* {
  -webkit-tap-highlight-color: transparent;
}

svg {
  fill:inherit
}


body {
  height: 100vh;
  color: var(--color-text);
  background: var(--bg-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;


  @media (min-width: 1024px) {

  &.nav-open {
    margin-left: 107px;
  }
}
}
