/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bg-color: #211d2a;
  --bg-color-elements: #16141d;
  --color-text: #e0e0e0;
  --icon-color: #e0e0e0;
  --violet: #7938cb;
}

body.light-theme {
  --bg-color: #e0e0e0;
  --color-text: #211d2a;
  --icon-color: #211d2a;
  --bg-color-elements: #c0c0c0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

// reset button
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

//reset blue outline
* {
  -webkit-tap-highlight-color: transparent;
}

svg {
  fill: inherit;
}

textarea {
  font-family: 'Familjen Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  height: 100vh;
  color: var(--color-text);
  background: var(--bg-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @media (min-width: 1024px) {
    &.nav-open {
      margin-left: 107px;
    }
  }
}
