@import './base.scss';

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;

}

.loader {
  position: relative;
  width: 164px;
  height: 164px;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  animation: rotate 1s ease-in infinite;
}
.loader::after {
width: 20px;
height: 20px;
background-color: #7D50DD;
animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite ;
}

@keyframes moveY {
0% , 100% {top: 10%}
45% , 55% {top: 59%}
60% {top: 40%}
}
@keyframes rotate {
0% { transform: translate(-50%, -100%) rotate(0deg) scale(1 , 1)}
25%{ transform: translate(-50%, 0%) rotate(180deg) scale(1 , 1)}
45% , 55%{ transform: translate(-50%, 100%) rotate(180deg) scale(3 , 0.5)}
60%{ transform: translate(-50%, 100%) rotate(180deg) scale(1, 1)}
75%{ transform: translate(-50%, 0%) rotate(270deg) scale(1 , 1)}
100%{ transform: translate(-50%, -100%) rotate(360deg) scale(1 , 1)}
}
.button {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  min-width: 9rem;
  margin-bottom: 3rem;
}